<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.mycalculator2">
     
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/index6"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".unitchangeActivity"
            android:label="单位换算" />
        <activity
            android:name=".lengthchangeActivity"
            android:label="长度换算" />
        <activity
            android:name=".temperaturechangeActivity"
            android:label="温度换算" />
        <activity
            android:name=".energychangeActivity"
            android:label="能量换算" />
        <activity
            android:name=".anglechangeActivity"
            android:label="角度换算" />
        <activity
            android:name=".HexchangeActivity"
            android:label="进制转换" />
        <activity
            android:name=".HelpActivity"
            android:label="帮助" />
        <activity
            android:name=".DateCaluActivity"
            android:label="日期计算器" />
        <activity
            android:name=".CalendarActivity"
            android:label="日历" />
        <activity android:name=".prefctcaluActivity" />
        <activity android:name=".StateActivity"></activity>
    </application>

</manifest>